{% extends 'base.html' %}
{% block header %}
<!-- any extra header content -->
{% endblock %}

{% block content %}
<!-- page content -->
<div class="container">
  <ul>
    {% for user in users %}
    <li>{{ user.username }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}