{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  {# <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
  #}


<!--<div class="container-fluid h-100 bg-light text-dark">-->
  <div class = "container">
  <div class="card">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 text-center">
        <div class="card-header">
          X51 COMMAND
        </div>
        <div class="login-form">
          <div class="card-body">
            <h5 class="card-title">Member log-in</h5>
            <form action="{{ url_for('auth.login', next=request.args.get('next')) }}", method="post">
              <div class="form-group">
                <label for="username">Username</label>
                <input name="username" id="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
